.big-box {
    margin: auto;
    height: 960px;
    width: 1280px;
    background-color: plum;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    height: 60px;
    width: 1200px;
    font-size: 20px;
    background-color: rgba(12, 173, 173, 0.575);
    color: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    height: 700px;
    width: 300px;
    background-color: rgba(7, 116, 116, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around;
    /* margin-bottom: */
    height: 700px;
    width: 800px;
    margin-top: 40px;
    margin-left: 100px;
    background-color: palevioletred;
}

.article .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;px ;
    width: 200px; 
    background-color: rgb(85, 84, 85) ;
    margin-bottom: 20px;
}