л* {
padding: 0;
margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.background-heder {
    background-image: url('../img/Layer\ 21\ 1.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 900px;
    width: 100%;
}

.greeting {
    padding-top: 528px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    /* color: #ffff; */
    padding-bottom: 16px;
    
    
}

.text {
    padding-top: 10px;
    font-size: 18px;
    line-height: 22px;
    /* color: #ffff; */
    padding-bottom: 60px;
}

.big-text {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: #fcfcfc;
    border-color: #fcfcfc;
    border: 2px solid;
    width: 771px;
}

.big-text > span {
    display: inline-block;
    border-right: #F48E0B solid;
    padding: 10px;
    color:#F48E0B
}

.main-section {
    margin-top: 131px;
    text-align: center;
}

.section-caption {
    /* padding-top: 528px;
    font-weight: 700; */
    color: #4D4943;
    font-size: 22px;
    text-transform: uppercase;
    /* line-height: 59px; */
}

.section-paragraph {
    color: #4D4943

}