@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  background-color: #db2512;
  display: inline-flex;
  min-width: 200px;
  padding: 10px 15px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block {
  width: 20%;
}

.nav {
  display: flex;
}

.nav__link {
  margin-right: 35px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.nav__link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link.active:after {
  opacity: 1;
}

.header__lng {
  display: flex;
  justify-content: flex-end;
}

.header__lng-link {
  margin-right: 7px;
  color: #b7b7b7;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.header__lng-link:last-child {
  margin-right: 0;
}

.header__lng-link.active {
  color: #fff;
}

.intro {
  background: url("../img/road-intro.jpg");
}

.intro__content {
  height: 750px;
  display: flex;
  align-items: center;
}

.intro__block {
}

.intro__title {
  max-width: 790px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 150%;
}
