* {
padding: 0;
margin: 0;
}

.wraper {
display: grid;
grid-template-columns: 100px 50%;
/* grid-column-gap: 10px;
grid-row-gap: 10px; */
/* grid-gap: 15px; */
}

.wraper > div {
    padding: 10px;
    background-color: rgb(156, 91, 91);
}

.wraper > div.block {
    padding: 10px;
    background-color: rgb(213, 142, 142);
}