* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1920px;
    height: 4000px;
    background: #171717;
}

.name {
    position: absolute;
    left: 230px;
    top: 46px;
}

.phone {
    box-sizing: border-box;
    position: absolute;
    width: 218px;
    height: 50px;
    left: 1472px;
    top: 37px;
    border: 1px solid #E4B564;
}

.phone .item-phone {
    position: absolute;
    left: 26px;
    top: 18px;
}


.phone .item-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 144px;
    height: 30px;
    left: 49px;
    top: 10px;
}

.phone .item-box .item-text {
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    color: #FFFFFF;
    top: 207px;
    left: 230px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.paragraph {
    position: absolute;
    width: 1182px;
    height: 56px;
    left: 230px;
    top: 276px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.Outdoor .item-1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 468px;
    left: 230px;
    top: 373px;
    font-size: 20px;
    background: #634F2C;
    color: #FFFFFF;
}

.Outdoor .item-2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 40px;
    width: 467px;
    height: 468px;
    left: 731px;
    top: 373px;
    font-size: 20px;
    border-left: 44px;
    background: #B4A385;
    color: #FFFFFF;
}

.Outdoor .item-3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 468px;
    left: 1223px;
    top: 373px;
    font-size: 20px;
    background: #E4B564;
    color: #FFFFFF;
}

.Outdoor .item-4 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 715px;
    height: 468px;
    left: 230px;
    top: 868px;
    font-size: 20px;
    background: #635A4A;
    color: #FFFFFF;
}

.Outdoor .item-5 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 715px;
    height: 468px;
    left: 975px;
    top: 868px;
    font-size: 20px;
    background: #B08C4D;
    color: #FFFFFF;
}

.title-2 {
    margin-left: 230px;
    padding-top: 1497px;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.construction {
    display: flex;
    justify-content: flex-start;
}

.construction-1 .item-1 {
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    margin-top: 94px;
    margin-left: 230px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    flex-wrap: wrap;
}

.construction-1 .item-2 {
    width: 467px;
    height: 560px;
    background: #1F1F1F;
    margin-top: 24px;
    margin-left: 230px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    flex-wrap: wrap;
}

.construction-1 .text {
    padding-top: 50px;
    padding-left: 52px;
}

.construction-2 .item-1 {
    width: 467px;
    height: 439px;
    background: #242424;
    margin-top: 94px;
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
}

.construction-2 .item-2 {
    width: 467px;
    height: 405px;
    background: #E4B564;
    margin-top: 33px;
    margin-left: 30px;
    color: #000000;
    font-size: 20px;
    line-height: 25px;
}

.construction-2 .text {
    padding-top: 45px;
    padding-left: 50px;
}

.construction-3 .item-1 {
    width: 467px;
    height: 255px;
    background: #1F1F1F;
    margin-left: 30px;
    margin-top: 94px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
}

.construction-3 .item-2 {
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    margin-left: 30px;
    margin-top: 26px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
}

.construction-3 .item-3 {
    width: 467px;
    height: 277px;
    background: #0A0909;
    margin-left: 30px;
    margin-top: 26px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
}

.construction-3 .text {
    padding-top: 44px;
    padding-left: 48px;
}

.fon {
    width: 1920px;
    height: 1054px;
    background: #0E0E0E;
    margin-top: 191px;
}

/* .frame {
    box-sizing: border-box;

    position: absolute;
    width: 180px;
    height: 50px;
    left: 1508px;
    top: 2868.19px;

    border: 1px solid #E4B564;
}

.frame .item-frame {
    position: absolute;
    width: 101px;
    height: 30px;
    left: 1548px;
    top: 2878.19px;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
} */

.frame .all-projects {}

.frame .all-projects .item-text {}

.fon .projects {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 230px;
    padding-top: 172px;
    display: flex;
    flex-direction: row;
}

.fon .item-1 {
    position: absolute;
    width: 488px;
    height: 391px;
    background: #634F2C;
    margin-top: 72px;
    margin-left: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fon .item-2 {
    position: absolute;
    width: 486px;
    height: 391px;
    background: rgba(232, 210, 171, 0.76);
    margin-top: 72px;
    margin-left: 717px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

.fon .item-2 .text {
    width: 326px;
    height: 140px;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.fon .item-3 {
    position: absolute;
    width: 486px;
    height: 391px;
    background: #E4B564;
    margin-top: 72px;
    margin-left: 1203px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fon .item-4 {
    position: absolute;
    width: 488px;
    height: 391px;
    background: #635A4A;
    margin-top: 463px;
    margin-left: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fon .item-5 {
    position: absolute;
    width: 486px;
    height: 391px;
    background: #B08C4D;
    margin-top: 463px;
    margin-left: 717px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fon .item-6 {
    position: absolute;
    width: 486px;
    height: 391px;
    background: #634F2C;
    margin-top: 463px;
    margin-left: 1203px;
    display: flex;
    justify-content: center;
    align-items: center;
}