.bix-box {
   /* position: absolute; */
   width: 1280px;
   height: 1626px;
   margin: auto;
   padding: ;
}

a {
   color: #FF0000;
   text-decoration: none;
}

li {
   list-style: none;
}

.header {
   display: flex;
   justify-content: space-between;
   padding: 25px;
   padding-right: 330px;
   padding-left: 330px;
   align-items: center;
   text-transform: uppercase;
}

.fhoto {
   background-image: url('../img/image\ 1.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 789px;
   width: 100%;
}

.main {
   position: absolute;
   width: 1280px;
   height: 650px;
}

.headline {
   color: #373737;
   padding-top: 48px;
   text-align: center;
   font-size: 22px;
}

.paragraph {
   color: #373737;
   font-size: 16px;
   padding-left: 68px;
   padding-right: 68px;
   padding: 8px;
   margin-left: 67px;
   margin-right: 67px;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 84px;
   padding: 5px;
   color: #fff;
   width: 191px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   height: 51px;
   background: #FF0000;
   border-radius: 4px;
   border: 0;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 691px 105px;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 2.4px;
   color: #373737;
}